<app-header></app-header>



<div class="wrapper">

    <!-- header -->
   


    <!--sliders starts here-->



    <!--sliders ends here-->

    <!-- banner -->
    <div class="banner">
        <div class="container">
            <!-- heading -->
            <h2>Let's find you
                the Best Insurance</h2>
            <!-- sub heading -->
            <h3>Quick, easy &
                hassle free</h3>
            <!-- access button -->
            <a href="#" class="btn btn-default">BUY NOW</a>
        </div>
    </div>
    <!-- banner end -->

    <!-- works -->
    <div class="works" id="work">
        <div class="container">
            <!-- default heading -->
            <div class="default-heading">
                <!-- heading -->
                <h2>EXPLORE THE SERVICES</h2>
                <!-- paragraph -->
                <h2>50+ insurers with one
                    of the best prices<br>Quick, easy &
                    hassle free</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <!-- work item -->
                    <div class="work-item">
                        <!-- work details image -->
                        <img class="img-responsive"
                            src="https://iiflinsurance.com/images/health-insurance-features.png" alt="" />
                        <!-- heading -->
                        <h3><a href="#">Terms Life Insurance</a></h3>
                        <!-- brand org -->
                        <span class="org">Co-vid Covers</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- work item -->
                    <div class="work-item">
                        <!-- work details image -->
                        <img class="img-responsive"
                            src="https://iiflinsurance.com/images/health-insurance-features.png" alt="" />
                        <!-- heading -->
                        <h3><a href="#">Health Insurance</a></h3>
                        <!-- brand org -->
                        <span class="org">Personal</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- work item -->
                    <div class="work-item">
                        <!-- work details image -->
                        <img class="img-responsive"
                            src="https://iiflinsurance.com/images/health-insurance-features.png" alt="" />
                        <!-- heading -->
                        <h3><a href="#">Travel Insurance</a></h3>
                        <!-- brand org -->
                        <span class="org">Personal</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- work item -->
                    <div class="work-item">
                        <!-- work details image -->
                        <img class="img-responsive"
                            src="https://iiflinsurance.com/images/health-insurance-features.png" alt="" />
                        <!-- heading -->
                        <h3><a href="#">Group Insurance</a></h3>
                        <!-- brand org -->
                        <span class="org">Commercial & personal</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- work item -->
                    <div class="work-item">
                        <!-- work details image -->
                        <img class="img-responsive"
                            src="https://iiflinsurance.com/images/health-insurance-features.png" alt="" />
                        <!-- heading -->
                        <h3><a href="#">Family Health Insurance</a></h3>
                        <!-- brand org -->
                        <span class="org">personal</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- work item -->
                    <div class="work-item">
                        <!-- work details image -->
                        <img class="img-responsive"
                            src="https://iiflinsurance.com/images/health-insurance-features.png" alt="" />
                        <!-- heading -->
                        <h3><a href="#">Anglicising Edit</a></h3>
                        <!-- brand org -->
                        <span class="org">Commercial</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- work item -->
                    <div class="work-item">
                        <!-- work details image -->
                        <img class="img-responsive"
                            src="https://iiflinsurance.com/images/health-insurance-features.png" alt="" />
                        <!-- heading -->
                        <h3><a href="#">Anglicising Edit</a></h3>
                        <!-- brand org -->
                        <span class="org">Commercial</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- work item -->
                    <div class="work-item">
                        <!-- work details image -->
                        <img class="img-responsive"
                            src="https://iiflinsurance.com/images/health-insurance-features.png" alt="" />
                        <!-- heading -->
                        <h3><a href="#">Anglicising Edit</a></h3>
                        <!-- brand org -->
                        <span class="org">Commercial</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div></div>


</div>

<!--sliders starts here-->
<section id="feature-sec">
    <div class="text-center">
        <h5 class="common-h5">CARE FEATURES</h5>
        <h2 class="common-h2">Provide Awesome Service With Our Tools</h2>
    </div>
    <!--text-center-->
    <section class="faeture-col-par">
        <div class="container">
            <div class="feature-col">
                <h3>Save Tax upto 46800 </h3>
                <img src="/assets/images/home-faeture-img/service_img1.png" class="img-responsive" alt="service" />
                <h4>No Tax &amp; on Returns</h4>
                <!--                </div>feature-col-->
            </div>
            <!--feature-col-->
            <div class="feature-col">
                <h3>
                    One of the best Prices</h3>
                <img src="/assets/images/home-faeture-img/service_img2.png" class="img-responsive" alt="service" />
                <!--                </div>feature-col-->
            </div>
            <!--feature-col-->
            <div class="feature-col">
                <h3>Unbiased Advice

                </h3>
                <img src="/assets/images/home-faeture-img/service_img3.png" class="img-responsive" alt="service" />
                <h4>Discover, Explore &amp; understanding the product</h4>
                <!--                </div>feature-col-->
            </div>
            <!--feature-col-->
            <div class="feature-col">
                <h3>100% Reliable</h3>
                <img src="/assets/images/home-faeture-img/service_img4.png" class="img-responsive" alt="service" />
                <h3>Regulated by IRDAI</h3>
                <!--                </div>feature-col-->
            </div>
            <!--feature-col-->
            <div class="clear"></div>
        </div>
    
    <section class="faeture-col-par">
        <div class="container">
            <div class="feature-col">
                <h3>Save Tax upto 46800 </h3>
                <img src="/assets/images/home-faeture-img/service_img1.png" class="img-responsive" alt="service" />
                <h4>No Tax &amp; on Returns</h4>
                <!--                </div>feature-col-->
            </div>
            <!--feature-col-->
            <div class="feature-col">
                <h3>
                    One of the best Prices</h3>
                <img src="/assets/images/home-faeture-img/service_img2.png" class="img-responsive" alt="service" />
                <!--                </div>feature-col-->
            </div>
            <!--feature-col-->
            <div class="feature-col">
                <h3>Unbiased Advice

                </h3>
                <img src="/assets/images/home-faeture-img/service_img3.png" class="img-responsive" alt="service" />
                <h4>Discover, Explore &amp; understanding the product</h4>
                <!--                </div>feature-col-->
            </div>
            <!--feature-col-->
            <div class="feature-col">
                <h3>100% Reliable</h3>
                <img src="/assets/images/home-faeture-img/service_img4.png" class="img-responsive" alt="service" />
                <h3>Regulated by IRDAI</h3>
                <!--                </div>feature-col-->
            </div>
            <!--feature-col-->
            <div class="clear"></div>
        </div>
    
</section>
</section>


<app-footer></app-footer>

